.permissions-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.permission-item {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 250px;
}
.snackbar-success {
  background-color: #4caf50;
  color: white;
}

.snackbar-error {
  background-color: #e53935;
  color: white;
}
