<div class="container">
  <div class="page-header">
    <h2>
      <mat-icon>manage_accounts</mat-icon>
      Gestion des Users
    </h2>
    <button mat-raised-button color="primary" routerLink="/users/add" >
      <mat-icon>add</mat-icon>
      Nouveau User
    </button>
  </div>

  <div class="card-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Nom d'utilisateur</th>
        <td mat-cell *matCellDef="let user">
          <strong>{{ user.username }}</strong>
        </td>
      </ng-container>
      <ng-container matColumnDef="enable">
        <th mat-header-cell *matHeaderCellDef>Activé</th>
        <td mat-cell *matCellDef="let user">
          <span class="chip" [ngClass]="user.enabled ? 'success' : 'error'">
            <mat-icon> {{ user.enabled ? 'check_circle' : 'cancel' }} </mat-icon>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Prénom</th>
        <td mat-cell *matCellDef="let user">
          <strong>{{ user.firstName }}</strong>
        </td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let user">
          <strong>{{ user.lastName }}</strong>
        </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>email</th>
        <td mat-cell *matCellDef="let user">
          <strong>{{ user.email }}</strong>
        </td>
      </ng-container>
      <ng-container matColumnDef="emailVerified">
        <th mat-header-cell *matHeaderCellDef>Email Vérifié</th>
        <td mat-cell *matCellDef="let user">
          <span class="chip" [ngClass]="user.emailVerified ? 'success' : 'error'">
            <mat-icon> {{ user.emailVerified ? 'check_circle' : 'cancel' }} </mat-icon>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button color="primary" [routerLink]="['/users/view/',user.idUserAccount]" matTooltip="Voir">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="editUser()" matTooltip="Modifier">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteUser()" matTooltip="Supprimer">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>


      <tr class="mat-row no-data-row" *ngIf="users.length === 0">
        <td class="mat-cell" colspan="5">
          <mat-icon>search_off</mat-icon> Aucun ustilisateur trouvé.
        </td>
      </tr>
    </table>
  </div>
</div>









