.form-vertical {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
}
.full-width {
  width: 100%;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
